.navbar {

    background-color: white !important;
    height: 167px;

    padding: 0;}


.up-side {
    background-color: #00b8c4;
    color: white;
    align-content: center;
    padding-left: 0;
    height: 360px;
}
.down-side {
background-color: #e8e8e8;
    align-content: center;
padding-left: 0;
    height: 90px;
}
.number {

    color: #00b8c4;
    text-decoration: solid;
    align-content: center;
}

.logo {
    margin-left: 240px;
}

.nav-link {
    color: black !important;
    margin-left: +30px;
}

.right-side h2 {
    margin-top: 200px;
    color: white;
}

.right-side .green-word {
    color: green;
}

.right-side .orange-word {
    color: #d39e00;
}

.between {
    border-left: 1px solid white;
}

.navbar-nav {
    margin-left: 400px;
}

.navbar-nav a {

    padding-right: 10px;
}
.navbar-brand {
    color: yellow !important;
    font-family: Verdana !important;
    letter-spacing: 4px !important;
}
.navbar p {
    color: white !important;
    letter-spacing: 5px;

}
.row {

    padding: 150px 50px;

}