body {
    margin: 15px;
}

.left-col {
    border: solid;
    border-width: 1px;
    height: 500px;
    margin: 15px;

}
.nau {
text-align: center;
    color: #d39e00;

}
.left-bottom-image {
    width: auto;
    height: auto;
    min-width: 350px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;

}
.bottom-img{

    background-image: url("../img/fur1.jpg");
    background-size: cover;
}

.lrf{
    margin: 15px;
}
.pic1 {


    background-image: url("../img/fur1.jpg");
    background-size: cover;
}